{% load static %} <!-- adicione esta linha -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | O site do rock
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /> <!-- adicione esta linha -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> <!-- adicione esta linha -->
</head>

<body>
    <header id="cabecalho-principal">
        <a href="{% url 'index' %}"> <img src="{% static 'rock.svg' %}"> </a> <!-- adicione esta linha -->
        <nav id="navegacao-principal">
            <ul class="nav_links">
                {% if user.is_authenticated %}
                    <li> Logado com {{ user.username }} </li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">Sobre</a></li>
                <li><a href="{% url 'songs:index' %}">Músicas</a></li> 
                <li><a href="{% url 'musicas' %}">Meus Preferidos</a></li>
                <li><a href="{% url 'songs:categories' %}">Categorias</a></li>
            </ul>
        </nav>

    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
            <small>Copyright 2023 Iago Mendes</small>
        </p>
    </footer>
</body>

</html>